<!-- registration.component.html -->

<div class="container mt-5">
  <h2 class="mb-4">User Registration</h2>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="register()" class="container mt-5">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input type="text" id="username" formControlName="username" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input type="password" id="password" formControlName="password" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="first_name" class="form-label">First Name:</label>
    <input type="text" id="first_name" formControlName="first_name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name:</label>
    <input type="text" id="last_name" formControlName="last_name" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" formControlName="email" class="form-control" required>
  </div>

  <div class="text-center mt-3">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
  </div>
</form>

<footer class="mt-4">
  <p>&copy; 2024 Task Manager All rights reserved.</p>
</footer>
